# Rocket Routers Firmware E — Mycelium — VERSION METADATA
# Append to .config in ~/src/openwrt then run: make defconfig

CONFIG_VERSION_DIST="Rocket Routers"
CONFIG_VERSION_NUMBER="3.0.0"
CONFIG_VERSION_CODE="rocket-E-mycelium"
CONFIG_VERSION_REPO="https://rocketrouters.co.uk"
CONFIG_VERSION_MANUFACTURER="Rocket Routers"
CONFIG_VERSION_MANUFACTURER_URL="https://rocketrouters.co.uk"
CONFIG_VERSION_BUG_URL="https://rocketrouters.co.uk/support"
CONFIG_VERSION_SUPPORT_URL="https://rocketrouters.co.uk/support"
CONFIG_VERSION_PRODUCT="Rocket Plus E"
CONFIG_VERSION_HWREV="E"
CONFIG_VERSION_FILENAMES=y
