# Rocket Routers Firmware A v2.5.5 - VERSION METADATA
# Append to .config in ~/src/openwrt then run: make defconfig

CONFIG_VERSION_DIST="Rocket Routers"
CONFIG_VERSION_NUMBER="2.5.5"
CONFIG_VERSION_CODE="rocket-A-fibre-cell"
CONFIG_VERSION_REPO="https://rocketrouters.co.uk"
CONFIG_VERSION_MANUFACTURER="Rocket Routers"
CONFIG_VERSION_MANUFACTURER_URL="https://rocketrouters.co.uk"
CONFIG_VERSION_BUG_URL="https://rocketrouters.co.uk/support"
CONFIG_VERSION_SUPPORT_URL="https://rocketrouters.co.uk/support"
CONFIG_VERSION_PRODUCT="Rocket Plus"
CONFIG_VERSION_HWREV="A"
CONFIG_VERSION_FILENAMES=y
